@{
    ViewBag.Title = "SearchInput";
}

 @*Disclaimer the Airplain Picture was taken from flickr under CC liscense for school Project usage.
https://www.flickr.com/photos/jarfilms/2184368060/in/photolist-4k2swh-2rQd2j-5k95g5-oywiSc-aF656V-q3DRUm-BWt2J-rrKviR-jTw5Ve-dSp7u9-o9Ryva-8nuPyA-dyxUrH-78gAym-bJSwzc-5SVac9-5Z6jG-7YxtcG-5pnHQz-pLJwRM-a28gdY-ao14yN-ePWuwp-7saznz-d9DHWb-xneKy-dZydHX-p7rLJ3-pu2QXz-fa2JVm-ecyE9k-6aL1oN-aeV8bp-5PGf9f-oiy4G8-6xaSxj-oa1FFN-kUP42N-4897A6-dKnu4S-o5bNnn-hpzyBe-czsRwU-qB3HYj-pBWTTS-dKp2bY-n9BHS-ppW9Go-oWthXP-jgUgU2
By Gilbert Rodriguez*@

    <div class="cover">
        <div class="clearfix"></div>

    </div>


@using (Html.BeginForm("SearchResult", "flights"))
{


    <form>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Departure Date</span>
                <input type="date" id="Departure" name="dDate" class="form-control" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Departure Airport</span>
                <input type="text" name="dAirport" class="form-control" placeholder="Depart AirPort Name" aria-describedby="basic-addon2">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Arrival Airport</span>
                <input type="text" name="aAirport" class="form-control" placeholder="Arrive AirPort Name" aria-describedby="basic-addon3">
            </div>

        </div>

        <input type="submit" value="Submit" class="btn btn-default">


    </form>




    @*<div class="row">
                <div class="col-md-8">
                    <form>
                        <div class="form-group">

                            Departure Date: &nbsp; &nbsp;<input id="Departure" name="dDate" type="date"> <br>
                            </div>
                            Departure Airport:&nbsp;<input type="text" name="dAirport"> <br>
                            Arrival Airport: &nbsp; &nbsp; &nbsp;&nbsp;<input type="text" name="aAirport"> <br>

                            <input type="submit" value="Submit">
        </form>
                    </div>
                </div>*@

}


