@{
    ViewBag.Title = "About";
}

    @*Disclamier This bootstrap theme was sample from http://shapebootstrap.net/item/spirit8-free-bootstrap-html-template/
    CAll spirit8  By : ThemeForces.com Under Free CC license Usage For Template for Class Project*@

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->



    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css">
    <!-- Slider
    ================================================== -->
    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
   

</head>
<body>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        
            <div class="content">
                <h1>Welcome on <strong><span class="color">About Us Page</span></strong></h1>
                <p class="lead">We are Team Murica! <strong>Murica!</strong> <strong>Oh yeah</strong></p>
           
            
        </div>
    </div>
    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2>Here is what We are <strong>Using!!</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">Our Project is to build a Website that allow users to log in and book flights, We started using Designing a Database First Model using ASP MVC.We Our Database is up online using MYSQL Database. Here are some of the List of Frameworks and Tools we Used</p>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>IDE</strong> - <em>VisualStudio | SublimeText </em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Languages</strong> - <em>C#,HTML,JAVASCRIPT,JQUERY</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>FRAMEWORKS</strong> - <em>ASP MVC,ENTITY,Identity,BOOTSTRAP,ADO,MysqlIdentity</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Meet <strong>our team</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="~/img/team/01.jpg" /> 
                            <div class="caption">
                                <h3>Linh CAo</h3>
                                <p>Lead Programmer</p>
                                <p>Don't touch me Bro</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <img src="~/img/team/02.jpg" />
                            <div class="caption">
                                <h3>Michael Wypych</h3>
                                <p>Technical Advisor</p>
                                <p>Why so serious? </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <img src="~/img/team/03.jpg" />
                            <div class="caption">
                                <h3>Tommy Phan</h3>
                                <p>Scrum Master</p>
                                <p>We can DO it</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="~/img/team/04.jpg" />
                            <div class="caption">
                                <h3>Kourun Sok</h3>
                                <p> Brogrammer</p>
                                <p>Meh!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>
